{% extends 'home/base.html' %}

{% load static %}

{% block section %}

    <style>
        .card {
            transition: transform 0.2s;
        }
        .card:hover {
            transform: scale(1.05);
        }
        .hero-section {
            background: url('{% static "images/hero-image3.jpg" %}') no-repeat center center;
            background-size: cover;
            color: white;
            padding: 100px 0;
            text-align: center;
        }

        #formations{
            background: url('{% static "images/hero-image2.jpg" %}') no-repeat center center;
            background-size: cover;
            color: rgb(20, 20, 20);
            padding: 100px 0;
            text-align: center;
        }
    </style>


    <main class="container mt-5">
        <section class="hero-section">
            <h1>Bienvenue sur notre plateforme de conseils et formation en cybersécurité</h1>
            <p>Nous offrons des conseils et des formations pour vous aider à protéger vos données et votre vie privée en ligne.</p>
        </section>

        <section id="formations" class="my-5">
            <h2 class="text-center">Formations</h2>
            <div class="row justify-content-center">
                {% for formation in formations %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ formation.title }}</h5>
                                <p class="card-text">{{ formation.description }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>

        <section id="services" class="my-5">
            <h2 class="text-center">Services</h2>
            <div class="row justify-content-center">
                {% for service in services %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            {% if service.image %}
                                <img src="{{ service.image.url }}" class="card-img-top" alt="{{ service.title }}">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ service.title }}</h5>
                                <p class="card-text">{{ service.description }}</p>
                                <p class="card-text"><strong>Prix :</strong> {{ service.price }} GNF</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </main>

{% endblock %}

