{% extends 'home/base.html' %}

{% block section %}
  <div class="container mt-5" style="background-color: blue;">
    <div class="row">
      {% for formation in object_list %}
        <div class="col-md-4 mb-4">
          <div class="card rounded-circle">
            <div class="card-body" >
              <h5 class="card-title">{{ formation.title }}</h5>
              <p class="card-text">{{ formation.description }}</p>
              <a href="{% url 'formation_detail' formation.pk %}" class="btn btn-primary">Voir plus</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
